/* ProfileDetails.css */

.profile-details-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4%;
    padding-bottom: 4%;
  }
  
  .profile-details-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left; 
  }
  
  .profile-details-columns {
    display: flex;
    gap: 100px;
  }
  
  .profile-column {
    text-align: left;
    width: 450px; 
    min-width: 450px; 
    max-width: 450px; 
  }
  
  .viewed-restaurants-list {
    list-style-type: none;
    padding: 0;
  }
  
  .viewed-restaurant-item {
    margin-bottom: 20px;
    border: 1px solid #b3b3b3;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 48px;
    border-radius: 8px;
    background-color: #fbfbfb;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  .restaurant-details {
    margin-left: 20px;
    margin-top: 10px;
    min-width: 250px;
  }
  
  .loading-text {
    font-style: italic;
  }
  
  .error-text {
    color: red;
  }

  .all-restaurants-container {
    display: flex;
    flex-direction: column;
    gap: 15px; 
  }
  
  .restaurant-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd; 
    padding-bottom: 10px; 
  }
  
  .restaurant-details {
    display: flex;
    flex-direction: column;
    padding-left: 0; 
    margin-left: 20px;
    margin-top: 10px;
    min-width: 250px;
  }
  
  .restaurant-name {
    font-weight: bold;
    margin-bottom: 5px; 
  }
  
  .restaurant-code {
    font-size: 0.9em; 
    color: #666; 
  }
  
  .restaurant-checkbox {
    margin-left: 15px; 
    width: 16px; 
    height: 16px; 
    border-radius: 2px;
    cursor: pointer; 
  }

  /* Pagination container */
.pagination-container {
  background-color: #fff;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; 
  gap: 8px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Individual pagination button */
button {
  min-width: 40px; 
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f3f4f6; 
}

button.bg-black {
  border: 1px solid #000;
}

button.bg-black.text-white {
  color: #fff;
  background-color: #000;
}